<!DOCTYPE html>
<html lang="hu" data-bs-theme="dark">
<head>
    <%- include('parts/meta') %>
</head>
<body>
    <%- include('parts/nav') %>
    
    <div class="container mt-5">
        
    </div>

    <%- include('parts/scripts') %>
</body>
</html>