<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container custom-layout-width">
      <a class="navbar-brand" href="/">Todo App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll"> 
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"  >
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/?completed=0">Várakozó</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/?completed=1">Elvégzett</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Összes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">Új bejegyzés</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Kulcsszó" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Keresés</button>
            </form>
      </div>
    </div>
  </nav>