<form action="" method="post" class="card mb-3">
  <div class="card-header">Bevásárlás</div>
  <div class="card-body">
    <h5 class="card-title">2023.08.01. 10:00</h5>
    <p class="card-text">Bevásárló lista</p>
    <div class="text-end"><button class="btn btn-outline-success fixedwidth">Kész</button></div>
  </div>
</form>

<form action="" method="post" class="card mb-3">
    <div class="card-header">Bevásárlás</div>
    <div class="card-body">
      <h5 class="card-title">2023.08.01. 10:00</h5>
      <p class="card-text">Bevásárló lista</p>
      <div class="text-end"><button class="btn btn-outline-success fixedwidth">Kész</button></div>
    </div>
  </form>